
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    width: 100vw;
    background-color: rgb(250, 243, 243);
    color: rgb(95, 96, 97);
}

header.nav-bar{
 height:20vh ;
 width:auto ;
 background-image: url(../images/Component\ 1.png);
 display: flex;
 align-items: center;
 justify-content: center;
 

}

header.nav-bar h2{
font-weight: 500;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: oblique;
color:rgb(26, 21, 14);
font-size: 20px;
padding: 1rem;

}

form.style_form{
border: 0px solid red;
height: 40%;
width: 100%;
display: flex;
flex-direction: column;
justify-content:space-around;
gap: 20px;

padding-left: 2rem;

}

form.style_form #style_name{
    font-size: 18px;
    display: flow-root;
    flex-direction: column;
    justify-content: center
}
